Repository pritam001/calci-lib, changes with the labels that .github/labeler.yml gives for each.
All labels: test, git, npm-package-update

Fixes #2
  lib/index.js
  src/index.js
Labels: none

Whitelisting dist folder for npm publish
  .gitignore
  dist/index.js
  package.json
Labels: npm-package-update

Create npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: git

Add package-lock for release actions
  .gitignore
  package-lock.json
Labels: none

Update tests
  package.json
Labels: npm-package-update

Update npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: git

Update version
  package.json
Labels: npm-package-update

Update npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: git

Update version
  package.json
Labels: npm-package-update

1.0.7
  package-lock.json
  package.json
Labels: npm-package-update

1.0.8
  package-lock.json
  package.json
Labels: npm-package-update

Delete npmpublish.yml
  .github/workflows/npmpublish.yml
Labels: git

1.0.9
  package-lock.json
  package.json
Labels: npm-package-update

Add tests via jest
  jest.config.js
  package-lock.json
  package.json
  test/index.test.js
Labels: test, npm-package-update

Semantic release
  .travis.yml
  package-lock.json
  package.json
Labels: npm-package-update

Travis files
  .travis.yml
  .travis/calci-lib.yml
  .travis/codecov.yml
  .travis/greenkeeper.yml
  .travis/node-versions.yml
  .travis/node.yml
Labels: none

Update version
  package.json
Labels: npm-package-update

Change travis branch setup
  .travis/calci-lib.yml
Labels: none

Fix travis
  .travis.yml
Labels: none

New module function
  dist/index.js
  src/index.js
Labels: none

Add branch to travis
  .travis/calci-lib.yml
Labels: none

fix(#6) : The automated release is failing
  README.md
Labels: none

chore(release): commitizen setup
  package-lock.json
  package.json
Labels: npm-package-update

fix(fix travis): update travis files
  .travis.yml
  .travis/calci-lib.yml
  .travis/node.yml
Labels: none

fix(fix travis): fix travis issue : npm version
  .travis/node-versions.yml
Labels: none

Notes added by 'git notes add'
  006097c0e125200b63f22c25de340a2f7683a9a8
Labels: none

fix(update readme): update readme
  README.md
Labels: none

Notes added by 'git notes add'
  b292325caea316c69e474292eb44d5f8eda8b607
Labels: none

fix(update version): update version
  package.json
Labels: npm-package-update

Notes added by 'git notes add'
  87050aca969af34d61a5dc3af50766a798076c15
Labels: none

fix(update version): update version
  package.json
Labels: npm-package-update

Notes added by 'git notes add'
  896214c0c808334b32c3560743f3685c58de393f
Labels: none

chore(testing semantic build 1): test
  README.md
Labels: none

Notes added by 'git notes add'
  f28ae6dc6f960cf97a33cf0c8627f72af67fe56a
Labels: none

Notes added by 'git notes add'
  abb3ca4d5eac06d0809b9b99b172cc7f6987cbef
Labels: none

Notes added by 'git notes add'
  6f58b2f6aa3312a77eb321317ce0426650090d85
Labels: none

feat(package): package.json version moved to 0.0.0
  package.json
Labels: npm-package-update

Notes added by 'git notes add'
  81f164da2184aa77abb9f3e77664b6b173de4b06
Labels: none

Notes added by 'git notes add'
  60e90ffa1ef9a715ae5007ce0aec5f7db7ff1368
Labels: none

Notes added by 'git notes add'
  522833b011c18a52a8f1877e21e9555a17147c5f
Labels: none

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.js
  - test/**/*

# Add github related updates to .github
git:
  - .github/**/*

# package.json update
npm-package-update:
  - package.json
