Repository pritam001/calci-lib, changes with the labels that .github/labeler.yml gives for each.
All labels: test, git, npm-package-update

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js files within the source dir
test:
  - src/**/*.spec.js
  - test/**/*

# Add github related updates to .github
git:
  - .github/**/*

# package.json update
npm-package-update:
  - package.json

Notes added by 'git notes add'
  1039711e83ac0124857a6c305207b1589c08519f
Labels: none

update(doc badge): Add badges: travis, github, npm
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Notes added by 'git notes add'
  4d5475029dbfd2ffa869397fc6fe15e43ae159cd
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Set theme jekyll-theme-midnight
  _config.yml
Labels: none

Set theme jekyll-theme-modernist
  _config.yml
Labels: none

Set theme jekyll-theme-midnight
  _config.yml
Labels: none

fix(update jest config): update jest config json to add coverage threshold and other params
  .gitignore
  jest.config.js
  package-lock.json
  package.json
Labels: npm-package-update

fix(add all tests): all tests for multiply, divide, percent, mod
  jest.config.js
  test/index.test.js
Labels: test

Notes added by 'git notes add'
  dc41bb04bdc0a9b24be0a75dba45f37adc998b3f
Labels: none

Update package json and coverage update
  .travis/calci-lib.yml
  package-lock.json
Labels: none

fix(package json update): dependabot security updates
  package-lock.json
  package.json
Labels: npm-package-update

Notes added by 'git notes add'
  5238f0a91bb8f914b304be9ae85050b10d899f19
Labels: none
